
p{background-color: rgb(222, 243, 250);


}
body{background-color: skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
text-align: center;
}
header{background-color: ghostwhite;


}
footer{background-color: rgb(242, 247, 255);


}
